/*Définition de la police*/
@font-face {
    font-family: "Raleway-Regular";
    src: url("314107d2b4fd9c91314be5b4cccb08f6.eot"); /* IE9*/
    src: url("314107d2b4fd9c91314be5b4cccb08f6.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("314107d2b4fd9c91314be5b4cccb08f6.woff2") format("woff2"), /* chrome、firefox */
         url("314107d2b4fd9c91314be5b4cccb08f6.woff") format("woff"), /* chrome、firefox */
         url("314107d2b4fd9c91314be5b4cccb08f6.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
         url("314107d2b4fd9c91314be5b4cccb08f6.svg#Raleway-Regular") format("svg"); /* iOS 4.1- */
}

/*Utilisation de la police*/
body {
    font-family: "raleway", Arial, Helvetica, serif, sans-serif;
    margin: 0;
}

* {
    flex-wrap: wrap;
    box-sizing: border-box;
}

#bloc_page {
    max-width: 90%;
    margin: auto;
    padding-left: 5px;
    padding-right: 10px;
}

/*header*/

.navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 35px;
}

/*logo*/
.logo {
    float: left;
}

/*menu navigation*/
.menu ul {
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    display: flex;
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
}

.navigation {
    color: black;
    padding: 0 50px;
}

nav a:hover {
    border-top: 2px solid #0065FC;
    padding: 49px;
    color: #0065FC;
}

/*S'inscrire*/
.inscription {
    font-weight: bold;
    color: #0065FC;
    padding: 0 50px;
}

.titre2 {
    position: relative;
    margin-top: 40px;
}

.titre2 h2 {
    font-size: 23px;
}

.titre2 p {
    margin-top: -10px;
}

/*recherche*/

.recherche {
    margin-top: 15px;
    display: flex;
}

.icone-search {
    display: none;
}

.search {
    height: 50px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 1em;
}

.gps {
    background-color: #F2F2F2;
    height: 50px;
    width: 52px;
    text-align: center;
    font-size: 1.1em;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 15px;
}

.btn {
    margin-left: -7px;
    width: 130px;
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    background-color: #0065FC;
    color: white;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

/*Filtres*/
.filtres_container {
    display: flex;
    margin-top: 25px;
    flex-wrap: wrap;
}

.filtres {
    padding-top: 15px;
    display: flex;
    font-weight: bold;
    padding-left: 45px;
}

.icone {
    background-color: #deebff;
    height: 28px;
    width: 32px;
    border-radius: 50%;
    text-align: center;
    color: #0065FC;
    padding: 5px;
}

.filtres a {
    text-decoration: none;
    color: black;
    border: 3px #F2F2F2 solid;
    border-radius: 30px;
    margin-top: -2px;
    display: block;
}

.filtres a:hover {
  background: #deebff;
}

.eco {
    line-height: 28px;
    height: 30px;
    display: block;
    padding: 0px 15px 0px 0px;
}

.famille {
    line-height: 28px;
    height: 30px;
    display: block;
    padding: 0px 15px 0px 0px;
}

.romantique {
    line-height: 28px;
    height: 30px;
    display: block;
    padding: 0px 15px 0px 0px;
}

.animaux {
    line-height: 28px;
    height: 30px;
    display: block;
    padding: 0px 15px 0px 0px;
}

.info {
    display: flex;
    align-items: center;
}
      
.info .infos {
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    width: 3%;
    height: 3%;
    line-height: 33px;
    text-align: center;
    color: #0065FC;
}
      
.info p {
    margin-left: 10px;
}

.bloc {
    display: flex;
    justify-content: space-between;
    max-width: 1250px;
    margin: auto;
    padding-top: 35px;
}

/*HEBERGEMENT*/

.details h3 {
    font-size: 0.90em;
    color: black;
    font-weight: bold;
    margin-top: -3px;
    margin-left: 10px;  
}

.details p {
    font-size: 0.90em;
    color: black;
    margin-top: -10px;
    margin-left: 10px; 
}

.etoiles {
    font-size: 0.90em;
    margin-top: -10px;
    margin-left: 10px;
    color: #0065fc; 
}

.hmarseille, .populaires { 
    background-color: #F2F2F2;
    height: 610px; /*Ne répond pas en pourcentage, pourquoi ?*/
}

.hmarseille {
    max-width: 67%;
    border-radius: 15px;
}

.hmarseille h2 {
    margin-left: 30px;
}

.lien_cartes, .lien_cartes2 {
    text-decoration: none;
    height: 100%;
    margin-left: 3px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 5px 4px #d7d7d7;
    display: block;
}

.lien_cartes2 {
    margin-top: 20px; 
}

.carte img {
    height: 65%;
    width: 100%;
    padding: 6px 6px 6px 6px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.carte {
    margin: 10px;
    height: 33vh;
    width: calc( 33.33% - 20px );
}

.lescartes {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 0 10px;
}

.afficher_plus {
    margin-top: 40px;
    margin-left: 50px;
}

.plus {
text-decoration: none;
color: black;
}

/*populaires*/

.populaires {
    max-width: 30%;
    background-color: #F2F2F2;
    border-radius: 15px;
}
  
.titrepop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 5px;
}
  
.titrepop h2 {
    font-size: 25px;
    margin-left: 5px;
}
  
.pop {
    justify-content: space-between;
    margin: 10px;
    height: 23vh;
    width: calc( 100% - 20px );
}
  
.cartes_populaires {
    display: flex;
    width: 94%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 6px 3px #d8d7d7;
    border-radius: 15px;
    margin-top: 7px;
    margin-left: 10px;
}

.cartes_populaires2 {
    margin-top: 30px;
    margin-left: 10px;
    display: flex;
    width: 94%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 6px 3px #d8d7d7;
    border-radius: 15px
}

.lien_populaire, .lien_populaire2 {
    text-decoration: none;
}
  
.lien_populaire img {
    width: 40%;
    height: 93%;
    margin: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}

.lien_populaire2 img {
    width: 40%;
    max-height: 63%;
    margin: 5px;
    border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}
  
.description {
    display: flex;
    margin-top: -155px;
    margin-left: 150px;
}
  
.description h3 {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 16px;
    color: black;
}
  
.description p {
    font-size: 15px;
    color: black;
    text-decoration: none;
    margin-top: -10px;
    margin-left: 10px;
    
}

.popetoiles {
    font-size: 0.90em;
    margin-top: 20px;
    margin-left: 10px;
    color: #0065fc; 
    margin-bottom: 10px;
}

/*Texte important*/
span {
    font-weight: bold;
}

/*Activités à Marseille*/

h6 {
    margin: 0;
}

section {
    max-width: 1250px;
    margin: auto;
}

.amarseille {
    margin-top: 70px;
    width: auto;
}

.activites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bloc1, .blocactivite {
    width: 23%;
}

.activitem img, .activitema img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.activitema img {
    width : 100%;
    height: calc( 50vh + 68px);
}

.activitem img {
    height: 25vh;
}

.activitem, .activitema {
    color: black;
    text-decoration: none;
}

.activitesmarseille {
    box-shadow: 0 0 6px 3px #d8d7d7;
    border-radius: 15px;
    margin-bottom: 32px;
}

.titre-activite {
    padding: 0px 0px 15px 20px;
    color: black;
    font-size: 16px;
}

/*footer*/

footer {
    width: auto;
    height: 45%;
    background-color: #F2F2F2;
}
  
.footer-container {
    margin-top: 70px;
    display: flex;
    align-items: center;
    display: flex;
}

.A_propos {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}
  
.Hebergements {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 230px;
}
  
.Assistance {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 230px;
}
  
footer h3 {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 20px;
}
  
.lien-footer {
    text-decoration: none;
    margin-bottom: 12px;
    color: #000;
}
 
/*MEDIA QUERIES RESPONSIVE*/

@media only screen and (min-width:992px) {

    .icone-search {
        opacity: 0;
    }
}

@media only screen and (max-width:768px) {

    #bloc_page {
        width: 100%;
    }

    .titre2 {
        position: relative;
    }
      
    .navigation {
        border-top: none;
        border-bottom: 2.5px solid #F2F2F2;
        padding-bottom: 15px;
        text-align: center;
        width: 100%;
        padding-bottom: 15px;
        padding-top: 25px;
    }
      
    .navigation:hover {
        border-top: none;
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
    }
      
    .menu {
        display: block;
    }
      
    .inscription .recherche {
        margin-top: 30px;
    }
      
    .info {
        margin-top: 29px;
    }
      
    .page {
        padding: 0;
    }
      
    .filtres-container {
        display: inline-block;
        margin-top: -20px;
    }
      
    .filtres {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
      
    .categories {
        display: block;
        margin-top: 20px;
        margin-left: 0;
        font-size: 13px;
    }
      
    .eco {
        width: 160px;
    }
      
    .famille {
        margin-left: 10px;
    }
      
    .infos .info {
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 10px;
    }
      
    .info h6 {
        font-size: 12px;
    }
      
    .btn {
        display: none;
    }
      
    .icone-search {
        position: relative;
        bottom: 50px;
        left: 50%;
        display: block;
        background-color: #0065FC;
        height: 50px;
        width: 50px;
        border-radius: 10px;
        line-height: 50px;
        border: none;
        cursor: pointer;
        color: #fff;
        font-size: 15px;
    }
      
    .recherche .search {
        position: relative;
        right: 5px;
        margin-right: 0px;
        width: 50%;
        height: 50px;
        border: 1px solid #F2F2F2;
        font-size: 18px;
        font-weight: bold;
    }
      
    .inscription {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        bottom: 150px;
        left: 25px;
        text-decoration: none;
        color: #0065fc;
        font-weight: bold;
    }
      
    .navigation {
        flex-grow: 1;
        order: 3;
        width: 100vw;
        margin-left: -35px;
        margin-right: -35px;
        margin-bottom: 20px;
    }
      
    .menu li {
        display: block;
        margin-top: 35px;
    }
      
    .bloc {
        display: flex;
        flex-direction: column-reverse;
        align-items: normal;
    }
      
    .etoiles {
        margin-bottom: 20px;
    }

    /*hébergements et populaires*/

    .hmarseille {
        background-color: #F2F2F2;
        padding: 0;
    }
      
    .hmarseille h2 {
        margin-left: 20px;
    }
      
    .cartes_populaires .cartes_populaires2 {
        width: 100vw;
        margin-left: 0;
    }
      
    .lescartes {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
      
    .lien_cartes {
        flex: 0;
        flex-direction: column;
        width: auto;
    }
      
    .description {
        font-size: 0.8em;
        margin-left: 150px;
    }
      
    .description h3 {
        font-size: 15px;
    }
      
    .description p {
        font-size: 0.8em;
    }
      
    .popetoiles {
        margin-bottom: 20px;
    }
      
    .afficher_plus {
        margin-top: 25px;
    }

    /*activités*/
     
    .amarseille {
        display: grid;
        height: auto;
        margin-bottom: 25px;
        justify-content: normal;
    }
      
    .bloc1 {
        width: auto;
    }
     
    .activitem .activitema img {
        width: 100%;
        height: 200px;
    }
      
    .activitesmarseille {
        margin-bottom: 160px;
        width: 100%;
        height: 70px;
        -moz-margin-start: 62px;
    }
      
    .titre-activite {
        padding: 8px 0px 5px 20px;
        border-radius: 0 0 1.25rem 1.25rem;
        border-color: transparent;
        box-shadow: 0 0 6px 3px #d8d7d7;
        margin-top: -12px;
    }

    /*footer*/
      
    footer {
        height: auto;
    }
      
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }
      
    .A_propos {
        margin-left: 25px;
    }
    
    .Hebergements {
        margin-left: 25px;
        margin-bottom: 0;
    }
    
    .Assistance {
        display: flex;
        align-items: flex-start;
        margin-left: 25px;
    }
}
