/*Définition de la police*/
@font-face {
    font-family: "Raleway-Regular";
    src: url("314107d2b4fd9c91314be5b4cccb08f6.eot"); /* IE9*/
    src: url("314107d2b4fd9c91314be5b4cccb08f6.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("314107d2b4fd9c91314be5b4cccb08f6.woff2") format("woff2"), /* chrome、firefox */
         url("314107d2b4fd9c91314be5b4cccb08f6.woff") format("woff"), /* chrome、firefox */
         url("314107d2b4fd9c91314be5b4cccb08f6.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
         url("314107d2b4fd9c91314be5b4cccb08f6.svg#Raleway-Regular") format("svg"); /* iOS 4.1- */
}

/*Utilisation de la police*/
body {
    font-family: "raleway", Arial, Helvetica, serif, sans-serif;
}

* {
    flex-wrap: wrap;
}

#bloc_page {
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

/*header*/

header {
    margin-top: 50px;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    min-width: 280px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 35px;
}

/*logo*/
.logo {
    float: left;
}

/*menu navigation*/
.menu {
    display: flex;
}

.navmenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu ul {
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    display: flex;
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
}

.navigation {
    color: black;
    padding: 0 20px;
}

nav a:hover {
    border-top: 2px solid #0065FC;
    padding: 48px;
    color: #0065FC;
}

/*S'inscrire*/
.inscription {
    font-weight: bold;
    color: #0065FC;
    padding: 0 20px;
}

/*filtres*/

.titre2 {
    position: relative;
    margin-top: 50px;
}

.titre2 h2 {
    font-size: 23px;
}

.titre2 p {
    margin-top: 5px;
}

.recherche {
    margin-top: 25px;
}

.gps {
    background-color: #F2F2F2;
    height: 50px;
    width: 52px;
    line-height: 50px;
    text-align: center;
    font-size: 1.1em;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

.btn {
    margin-left: -15px;
    width: 130px;
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    line-height: 50px;
    background-color: #0065FC;
    color: white;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
  }

.filtres_container {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.filter-container h2 {
    font-size: 1.5em;
}

.filtres {
    padding-top: 20px;
}

.eco {
    border: 3px #deebff solid;
    border-radius: 20px;
    padding: 10px;
    margin-left: 50px;
    width: 185px;
}

.familial {
    border: 3px #deebff solid;
    border-radius: 20px;
    padding: 10px;
    margin-left: 50px;
    width: 160px;
}

.romantique {
    border: 3px #deebff solid;
    border-radius: 20px;
    padding: 10px;
    margin-left: 50px;
    width: 170px;
}

.animaux {
    border: 3px #deebff solid;
    border-radius: 20px;
    padding: 10px;
    margin-left: 50px;
    width: 220px;
}

.filtres a {
    text-decoration: none;
}

.filtres a:hover {
  background: #deebff;
}

/*Texte important*/
span {
    font-weight: bold;
}

/*section*/
.hmarseille, .populaires {
    background-color: #F2F2F2;
}

.hmarseille {
    max-width: 70%;
}

.populaires {
    max-width: 27%;
    margin-right: 20px;
}

.logo img {
    max-width: 250px;
    max-height: 250px;
}

.lien_cartes {
    text-decoration: none;
    width: 210px;
    margin-top: 30px;
    height: 210px;
    margin-left: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 5px 4px #d7d7d7;
}

.carte img {
    height: 120px;
    width: 90%;
    padding: 6px 6px 6px 6px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.carte {
    display: flex;
    flex: wrap;
    margin: 10px 10px 10px 10px;
}
 
.lescartes {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
}

.cartes_populaires {
    width: 94%;
    height: 100%;
    flex: wrap;
    background-color: white;
    margin: 10px 10px 10px 10px;
}

.cartes_populaires img {
    float: left;
    width: 40%;
}

.pop {
    justify-content: space-between;
    margin: 35px 10px 10px 10px;
}

.bloc {
    display: flex;
    justify-content: space-between;
}

/*footer*/